:root {
    --theme-color: hsl(204, 90%, 45%);
}

.markdown-section {
    max-width: 80%;
    margin-top: 50px;
}

.markdown-section a {
    color: var(--theme-color, #42b983);
}

.markdown-section iframe[src*="buttons.github.io"] {
    margin: 0;
}


/* en */


/* body[data-page="index.md"] article.markdown-section {
    max-width: 80%;
    margin-top: 50px;
} */


/* body[data-page="index.md"] article.markdown-section .item {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s;
    text-decoration: none;
} */

.item {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s;
    text-decoration: none;
}


/* body[data-page="index.md"] article.markdown-section p.item-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
} */

.item-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* zh_CN */


/* body[data-page="zh_CN/README.md"] article.markdown-section {
    max-width: 80%;
    margin-top: 50px;
}

body[data-page="zh_CN/README.md"] article.markdown-section .item {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    transition: box-shadow 0.3s;
} */

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    text-decoration: none;
}


/* body[data-page="zh_CN/README.md"] article.markdown-section p.item-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
} */


/* ja */

body[data-page="ja/README.md"] article.markdown-section {
    max-width: 80%;
}

body[data-page="ja/README.md"] article.markdown-section .item {
    width: 150px;
    margin-right: 10px;
    display: inline-block;
}

body[data-page="ja/README.md"] article.markdown-section p.item-title {
    text-align: center;
}

figure.thumbnails img {
    margin: 0.75em 0;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 30em) {
    figure.thumbnails:after {
        content: "";
        display: table;
        clear: both;
    }
    figure.thumbnails img {
        float: left;
        width: calc(50% - 0.75em);
    }
    figure.thumbnails img:nth-child(even) {
        margin-left: 1.5em;
    }
    @supports (display: flex) {
        figure.thumbnails {
            display: flex;
            align-items: center;
        }
        figure.thumbnails img {
            flex-grow: 1;
            width: 0;
        }
        figure.thumbnails img+img {
            margin: 0 0 0 1.5em;
        }
    }
}

#core {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #basic,
body[data-page="zh_CN/README.md"] #basic,
body[data-page="ja/README.md"] #basic {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #gray,
body[data-page="zh_CN/README.md"] #gray,
body[data-page="ja/README.md"] #gray {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #fire,
body[data-page="zh_CN/README.md"] #fire,
body[data-page="ja/README.md"] #fire {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #m5stickc,
body[data-page="zh_CN/README.md"] #m5stickc,
body[data-page="ja/README.md"] #m5stickc {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #m5stickv,
body[data-page="zh_CN/README.md"] #m5stickv,
body[data-page="ja/README.md"] #m5stickv {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #m5stick,
body[data-page="zh_CN/README.md"] #m5stick,
body[data-page="ja/README.md"] #m5stick {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #m5go-lite,
body[data-page="zh_CN/README.md"] #m5go-lite,
body[data-page="ja/README.md"] #m5go-lite {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #m5go-kit,
body[data-page="zh_CN/README.md"] #m5go-kit,
body[data-page="ja/README.md"] #m5go-kit {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="index.md"] #faces-kit,
body[data-page="zh_CN/README.md"] #faces-kit,
body[data-page="ja/README.md"] #faces-kit {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

#module,
#gps,
#lora,
#lorawan,
#sim800l,
#commu,
#battery,
#proto,
#proto-kit,
#plus,
#usb,
#bus,
#goplus,
#stepmotor,
#servo,
#lego_plus,
#encoder,
#joystick-1,
#fan,
#faces-rfid,
#faces-finger {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#base,
#lan,
#node,
#btc,
#plc,
#core-bottom,
#m5go-bottom,
#m5go-rfid,
#m5go-charger,
#pm2_5,
#base15,
#base26 {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#unit,
#esp32cam,
#m5camera,
#m5cameraf,
#m5camerax,
#env,
#earth,
#light,
#angle,
#ir,
#pir,
#ncir,
#thermal,
#button,
#dual-button,
#joystick,
#cardkb,
#color,
#tof,
#heart,
#rfid,
#adc,
#dac,
#makey,
#rgb,
#relay,
#hub,
#pahub,
#pbhub,
#_396port,
#proto-1,
#extio,
#rs485,
#gps-1,
#finger,
#weight,
#trace,
#rgb_led,
#catear,
#hex,
#neoflash,
#butterfly,
#pahub,
#pbhub,
#m5-bit,
#vibrator-motor,
#unit-fan,
#op90,
#op180,
#accel,
#laser-rx,
#laser-tx,
#mini-proto {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body[data-page="index.md"] #application {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="zh_CN/README.md"] #application {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

body[data-page="ja/README.md"] #application {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

#bala,
#m5iotkit,
#lidarbot,
#piano,
#flir,
#demo-board {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#accessory,
#grove-t,
#grove-cable,
#screw,
#grove2grove,
#bus-socket,
#frame {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#hat,
#hat-env,
#hat-pir,
#hat-spk,
#hat-proto,
#hat-ncir,
#hat-thermal,
#hat-adc,
#hat-dac,
#hat-rs485 {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#tools,
#usb-downloader,
#usb-isp {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#aluminium,
#aluminium-profile,
#aluminium-profile-1515,
#nut,
#connector,
#corner {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


/* .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    opacity: 0;
}
.mask h3 {
    text-align: center;
}

.item a:hover .mask {
    opacity: 1;   
      
} */

.product_list div.btn-group-vertical {
    display: none;
}

.product_list:hover div.btn-group-vertical {
    position: fixed;
    display: block;
    margin: 0px;
    z-index: 9999;
}

.item:hover {
    /* box-shadow: 5px 5px 5px #888888; */
    box-shadow: 0px 0px 10px #888888;
}

main>.content {
    margin: 0px;
}

.banner {
    width: 300px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    box-shadow: 5px 5px 5px #888888;
    cursor: pointer;
    transition: all 0.1s;
}

div.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

div.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: blue !important;
}

.banner div.card-img-overlay h4 {
    font-size: 3em;
    color: #fff;
}

.banner div.card-img-overlay:hover h4 {
    display: none;
}

.banner:hover {
    transform: scale(1.1);
    z-index: 1;
}

.d-flex {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.btn-toggle {
    display: none;
}

.back_top {
    position: fixed;
    right: 150px;
    bottom: 150px;
}

@media screen and (max-width: 768px) {
    .d-flex {
        display: none !important;
    }
    .d-flex.open {
        display: block !important;
        position: fixed;
        top: 50px;
        right: 0;
        width: 50%;
        background-color: white;
        z-index: 9999;
        left: inherit;
    }
    .d-flex.open>h5 {
        display: none;
    }
    .d-flex.open nav a {
        display: block;
    }
    .btn-toggle {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        z-index: 9999;
    }
    .btn-toggle::before,
    .btn-toggle::after {
        content: "";
        position: absolute;
        transition: all .25s ease;
        width: 30px;
        height: 2px;
        background-color: gray;
    }
    .btn-toggle::before {
        top: 10px;
        left: 10px;
        box-shadow: 0 12px 0 gray;
    }
    .btn-toggle::after {
        top: 34px;
        left: 10px;
    }
    .btn-toggle.open::before {
        top: 25px;
        left: 10px;
        transform: rotate(45deg);
        box-shadow: none;
    }
    .btn-toggle.open::after {
        top: 25px;
        left: 10px;
        transform: rotate(-45deg);
    }
    body[data-page="index.md"] article.markdown-section {
        max-width: 80%;
        margin-top: 0px;
    }
    body[data-page="zh_CN/README.md"] article.markdown-section {
        max-width: 80%;
        margin-top: 0px;
    }
    .markdown-section {
        max-width: 100%;
        margin-top: 50px;
    }
    .banner div.card-img-overlay h4 {
        font-size: 2em;
        color: #fff;
        text-align: center;
    }
    .banner {
        margin-left: 0px;
    }
    .back_top {
        position: fixed;
        right: 10px;
        bottom: 150px;
    }
}