:root {
	--theme-color: hsl(204,90%,45%)
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	src: url("/assets/font/montserrat_n5.e72d00d31ae5399d260a80ec70322c62c1819762.woff2") format("woff2")
  }
  
a {
	text-decoration: none !important
}

img {
	z-index: 51
}

.product_pic img {
	width: 30%;
}


@media screen and (max-width:768px) {
	.product_pic img {
		width: 100%;
	}
}

.markdown-section {
	max-width: 75%;
	margin-top: 50px;
}

.markdown-section a {
	/* color: var(--theme-color,#42b983) */
	color: hsl(211, 100%, 50%);
}

body[data-page="zh_CN/uiflow/uiflow_home_page.md"] article.markdown-section {
	max-width: 100%;
	padding: 0
}

body[data-page="en/uiflow/uiflow_home_page.md"] article.markdown-section {
	max-width: 100%;
	padding: 0
}

body[data-page="zh_CN/arduino/arduino_home_page.md"] article.markdown-section {
	max-width: 100%;
	padding: 0
}

body[data-page="en/arduino/arduino_home_page.md"] article.markdown-section {
	max-width: 100%;
	padding: 0
}

body[data-page="en/quick_start/m5stickc/m5stickc_quick_start.md"] article.markdown-section {
	max-width: 100%;
}

body[data-page="zh_CN/quick_start/m5stickc/m5stickc_quick_start.md"] article.markdown-section {
	max-width: 100%;
}


.pic {
	width: 30%
}

.video_size {
	width: 50%
}

.uiflow_banner {
	position: relative
}

.row a {
	color: white;
	text-decoration: none
}

.row a:hover {
	color: white;
	text-decoration: none
}

.uiflow_p {
	height: 100px
}

.item {
	width: 150px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: box-shadow .3s;
	text-decoration: none;
	background-color: white
}

.related_links {
	position: fixed;
	top: 35%;
	right: 0;
	z-index: 900;
	width: 50px
}

.related_links a {
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
	transition: all .25s ease;
	float: right
}

.related_links a:first-child {
	border-top-left-radius: 3px;
	background-color: #76c5f0
}

.related_links a:nth-child(2) {
	background-color: #007cc2
}

.related_links a:nth-child(3) {
	background-color: #dc214c
}

.related_links a:nth-child(4) {
	border-bottom-left-radius: 3px;
	background-color: #1f1a17
}

.related_links a:hover {
	width: 90px
}

.related_links a img {
	position: relative;
	top: 5px;
	left: 5px;
	width: 40px
}

.related_links a:nth-child(4) img {
	top: 3.5px;
	left: 3.5px;
	width: 43px
}

.related_links div img {
	position: relative;
	top: 10px;
	left: 0;
	width: 50px;
	transition: all .25s ease
}

.related_links div img:hover {
	transform: scale(1.05)
}

@media screen and (max-width:768px) {
	.related_links {
		display: none
	}
}

.item-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px
}

.item a {
	color: black;
	text-decoration: none
}

.item a:hover {
	text-decoration: none
}

.dropdown {
	display: inline-block;
	transition: all .25s ease;
	color: #343a40
}

.dropdown div {
	position: absolute;
	overflow: hidden;
	height: 0;
	background-color: #fff;
	transition: all .25s ease;
	left: -50px;
	text-align: center;
	top: 40px;
	z-index: 1001;
	min-width: 10rem
}

.dropdown:hover {
	box-shadow: 0 2px 0 0 #007bff;
	color: #007bff
}

.dropdown:hover div {
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	list-style: none;
	background-clip: padding-box;
	height: max-content;
	box-shadow: 0 12px 11px 0 #888
}

.dropdown div a:hover {
	color: #007bff !important
}

.dropdown div a:active {
	background-color: #ccc !important
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 206px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	opacity: 0
}

.mask h3 {
	text-align: center
}

.item a:hover .mask {
	opacity: 1
}

.mask-btn1 {
	position: relative;
	top: 50px;
	left: 30px
}

.mask-btn2 {
	position: relative;
	top: 87px;
	left: 30px
}

.product_list div.btn-group-vertical {
	display: none
}

.product_list:hover div.btn-group-vertical {
	position: fixed;
	display: block;
	margin: 0;
	z-index: 9999
}

.item:hover {
	box-shadow: 0 0 10px #6ab2ff
}


.item .mask_sku {
	position: absolute;
    top: -5px;
    width: 100%;
    background-color: #007aff;
	text-align: center;
	font-size: 12px;
}

main>.content {
	margin: 0
}

div.card-img-overlay {
	background-color: rgba(0,0,0,0.6)
}

div.card-img-overlay:hover {
	background-color: rgba(0,0,0,0.25);
	color: blue !important
}

.banner {
	width: 100%;
	height: 300px;
	background-color: #fffbff
}

.d-flex {
	z-index: 50;
	position: fixed;
	top: 0;
	right: 0;
	left: 0
}

.btn-toggle {
	display: none
}

.pc-navigation {
	position: fixed;
	top: 20%;
	left: 4%
}

.pc-navigation button {
	font-weight: bold;
	height: 53px
}

.mb-navigation {
	display: none
}

.product_page {
	margin-left: 60px;
	margin-top: 100px
}

.search {
	display: none;
	position: fixed;
	z-index: 1001;
	top: 20px;
	left: 20%;
	height: 56px;
	line-height: 0;
	padding: 0 20px
}

.search input {
	border-radius: 40px;
	border: 0;
	outline: 0;
	background: #eee;
	width: 240px;
	height: 38px;
	padding: 0 0 0 20px
}

.search .search-btn {
	position: absolute;
	top: 10px;
	right: 40px;
	border-radius: 100px;
	width: 30px;
	height: 30px
}

.search i {
	position: absolute;
	top: 6px;
	right: 7px;
	font-size: 18px
}

body[data-page="index.md"] .search {
	display: inline-block
}

body[data-page="en/faq.md"] .search {
	display: inline-block
}

body[data-page="index.md"] .markdown-section {
	margin-top: 25px
}

body[data-page="zh_CN/README.md"] .search {
	display: inline-block
}

body[data-page="zh_CN/faq.md"] .search {
	display: inline-block
}

body[data-page="zh_CN/README.md"] .markdown-section {
	margin-top: 25px
}

@media screen and (max-width:768px) {
	.dropdown {
		display: block
	}

	.d-flex {
		display: none !important
	}

	.d-flex.open {
		display: block !important;
		position: fixed;
		top: 50px;
		right: 0;
		width: 50%;
		background-color: white;
		z-index: 1000;
		left: inherit
	}

	.d-flex.open>h5 {
		display: none
	}

	.d-flex.open nav a {
		display: block
	}

	.btn-toggle {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 50px;
		z-index: 1000;
		box-shadow: 1px 0 10px 0 #888;
		background-color: white
	}

	.btn-toggle::before,.btn-toggle::after {
		content: "";
		position: absolute;
		transition: all .25s ease;
		width: 30px;
		height: 2px;
		background-color: gray
	}

	.btn-toggle::before {
		top: 10px;
		right: 10px;
		box-shadow: 0 12px 0 gray
	}

	.btn-toggle::after {
		top: 34px;
		right: 10px
	}

	.btn-toggle.open::before {
		top: 25px;
		right: 10px;
		transform: rotate(45deg);
		box-shadow: none
	}

	.btn-toggle.open::after {
		top: 25px;
		right: 10px;
		transform: rotate(-45deg)
	}

	.markdown-section {
		max-width: 100%;
		margin-top: 50px;
		padding-left: 45px;
		padding-right: 45px
	}

	.banner div.card-img-overlay h4 {
		font-size: 1.3em;
		color: #fff;
		text-align: center
	}

	.banner {
		margin-left: 8px;
		margin-right: 0;
		width: 130px
	}

	.item {
		width: 130px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: inline-block;
		position: relative;
		cursor: pointer;
		transition: box-shadow .3s;
		text-decoration: none
	}

	.uiflow_p {
		height: auto
	}

	.pc-navigation {
		display: none
	}

	.product_page {
		margin-left: 0;
		margin-top: 0
	}

	.mb-navigation {
		z-index: 9999;
		position: fixed;
		top: 0;
		left: 0;
		right: 50px;
		height: 50px;
		color: #343a40;
		border-radius: 0;
		background: white;
		line-height: inherit;
		display: block;
		box-shadow: -12px -1px 10px #888
	}

	.nav-content {
		position: fixed;
		top: 50px;
		left: 0;
		right: 0;
		z-index: 999
	}

	.search {
		position: fixed;
		z-index: 1001;
		top: 6px;
		left: -2px
	}

	.mask {
		display: none;
		width: 130px;
		height: 186px
	}

	.mask-btn1 {
		position: relative;
		top: 50px;
		left: 23px
	}

	.mask-btn2 {
		position: relative;
		top: 75px;
		left: 23px
	}

	.video_size {
		width: 100%
	}
}

#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 9999
}

.demo3 {
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #007bff;
	position: absolute;
	animation: demo3 linear .8s infinite;
	-webkit-animation: demo3 linear .8s infinite
}

.demo3:nth-child(1) {
	left: 24px;
	top: 2px;
	animation-delay: 0s
}

.demo3:nth-child(2) {
	left: 40px;
	top: 8px;
	animation-delay: .1s
}

.demo3:nth-child(3) {
	left: 47px;
	top: 24px;
	animation-delay: .1s
}

.demo3:nth-child(4) {
	left: 40px;
	top: 40px;
	animation-delay: .2s
}

.demo3:nth-child(5) {
	left: 24px;
	top: 47px;
	animation-delay: .4s
}

.demo3:nth-child(6) {
	left: 8px;
	top: 40px;
	animation-delay: .5s
}

.demo3:nth-child(7) {
	left: 2px;
	top: 24px;
	animation-delay: .6s
}

.demo3:nth-child(8) {
	left: 8px;
	top: 8px;
	animation-delay: .7s
}

@keyframes demo3 {
	0%,40%,100% {
		transform: scale(1)
	}

	20% {
		transform: scale(3)
	}
}

@-webkit-keyframes demo3 {
	0%,40%,100% {
		transform: scale(1)
	}

	20% {
		transform: scale(3)
	}
}

.loading-flex {
	position: absolute;
	top: 45%;
	left: 50%
}

@media screen and (max-width:768px) {
	.loading-flex {
		position: absolute;
		top: 45%;
		left: 45%
	}

	.pic {
		width: 50%
	}
}


mark {
	background-color: #888;
	color: white
}

.faq-class {
	border: 1px solid #d9d9d9;
	margin-bottom: 1.5%;
	background-color: #d9d9d9;
	padding: 20px;
	border-radius: 10px;
	height: auto
}

.faq-class h5 {
	color: #666 !important;
	font-size: 16px !important;
	position: relative;
	margin: 0 !important
}

.search-tips {
	border: 1px solid #d9d9d9;
	margin-bottom: 1.5%;
	background-color: #d9d9d9;
	padding: 20px;
	border-radius: 10px;
	height: auto
}

.search-tips h5 {
	color: #666 !important;
	font-size: 16px !important;
	position: relative;
	margin: 0 !important
}

.faq-item {
	border: 1px solid #d9d9d9;
	margin-bottom: 1.5%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	height: auto
}

.faq-title {
	color: #666 !important;
	font-size: 16px !important;
	position: relative;
	margin: 0 !important;
	padding-right: 30px !important
}

.faq-title::before {
	background-color: #007bff;
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto
}

.faq-button {
	height: 0;
	margin: 0 !important
}

.faq-button::after {
	background-color: white;
	content: "";
	width: 12px;
	height: 2px;
	position: absolute;
	top: 0;
	right: 4px;
	bottom: 0;
	margin: auto;
	z-index: 10
}

.faq-button::before {
	background-color: white;
	content: "";
	width: 12px;
	height: 2px;
	position: absolute;
	top: 0;
	right: 4px;
	bottom: 0;
	margin: auto;
	transform: rotate(90deg);
	z-index: 10
}

.faq-answer {
	border: 0;
	outline: 0;
	font-weight: 400;
	max-height: 0;
	overflow: auto;
	transition: max-height .35s ease
}

.faq-answer div {
	padding-top: 30px;
	color: #666 !important
}

.faq-answer div span {
	display: block
}

.faq-item .faq-title.open+.faq-answer {
	max-height: 600px
}

.faq-img {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 40%;
	display: inline-block
}

.cases-item {
	border: 1px solid #d9d9d9;
	margin-bottom: 1.5%;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	height: auto
}

.cases-title {
	color: #666 !important;
	font-size: 16px !important;
	position: relative;
	margin: 0 !important;
	padding-right: 30px !important
}

.anchor-box {
	position: fixed;
	top: 25%;
	left: 50px;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	z-index: 50;
	width: max-content
}

.anchor-box img {
	width: 30px;
	height: 31px;
	margin-left: 10px;
	margin-top: 2px
}

.anchor-box svg {
	margin-left: 10px;
	margin-top: 2px
}

.anchor-box>a {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	height: 40px;
	width: 180px;
	padding: 2px 10px;
	text-decoration: none;
	outline: 0;
	border: 0;
	border-radius: 25px;
	color: #fff !important;
	font-size: 16px;
	line-height: 1.2;
	transition: all .3s ease;
	background-color: #333;
	box-shadow: 4px 4px 8px 0 #837878;
	-moz-box-shadow: 4px 4px 8px 0 #837878;
	-webkit-box-shadow: 4px 4px 8px 0 #837878;
	margin-top: 12px
}

.anchor-box>a:hover {
	background-color: #007aff !important;
	box-shadow: 4px 4px 8px 0 #aeaeae !important;
	-moz-box-shadow: 4px 4px 8px 0 #aeaeae !important;
	-webkit-box-shadow: 4px 4px 8px 0 #aeaeae !important
}

.anchor-box span {
	width: 100px;
	text-align: center;
	margin-left: 6px;
	overflow: hidden;	
	white-space:nowrap;
}

.anchor-box svg {
	margin-left: 12px;
	margin-top: 4px
}

.anchor-active {
	background-color: #007aff !important;
	box-shadow: 4px 4px 8px 0 #aeaeae !important;
	-moz-box-shadow: 4px 4px 8px 0 #aeaeae !important;
	-webkit-box-shadow: 4px 4px 8px 0 #aeaeae !important
}

.anchor-quiet {
	background-color: #333 !important;
	box-shadow: 4px 4px 8px 0 #837878 !important;
	-moz-box-shadow: 4px 4px 8px 0 #837878 !important;
	-webkit-box-shadow: 4px 4px 8px 0 #837878 !important
}

@media screen and (max-width:1580px) {
	.anchor-box {
		left: 20px
	}
}


@media screen and (max-width:1260px) {
	.anchor-box {
		left: 0px
	}
}

@media screen and (max-width:1100px) {
	.anchor-box {
		left: -12px
	}
}

@media screen and (max-width:980px) {
	.anchor-box {
		left: -34px
	}
}

@media screen and (max-width:768px) {
	.anchor-box {
		position: fixed;
		top: 35%;
		left: auto;
		right: -120px;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		z-index: 9999
	}

	.anchor-active {
		float: left;
		transform: translateX(-100px) !important
	}

	.anchor-quiet {
		float: left;
		transform: translateX(0px) !important
	}
}

.easyloader-box {
	display: flex;
	flex-direction: row;
	width: 80%
}

.easyloader-box>div {
	position: relative;
	width: 50%;
	overflow: hidden
}

.easyloader-box img,video {
	width: 100%
}

.easyloader-box p {
	margin: 10px 25px;
	color: white
}

.easyloader-mask {
	position: absolute;
	right: 0;
	bottom: 6px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	transition: all .3s;
	display: flex;
	flex-direction: column;
	justify-content: center
}


.easyloader-mask a{
    margin-top:50px;
    text-align: center;
}

.video_play {
    bottom: -100%;
    
}

.easyloader-btn {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	bottom: 7%;
	width: 100%;
}

.easyloader-btn a {
	width: 90px;
	text-align: center;
	padding: 2px 10px;
	background-color: #007bff;
	color: white !important;
	border-radius: 10px
}

.easyloader-btn a:hover {
	background-color: #45a9ff
}

@media screen and (max-width:768px) {
	.easyloader-box {
		flex-direction: column;
		width: 100%
	}

	.easyloader-box>div {
		width: 100%
	}
}



.platform-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


.platform-item {
	position: relative;
	overflow: hidden;
	margin: 20px;
	box-shadow: 0px 0px 5px 0px #dbdbdb;
    border-radius: 15px;
}

.platform-box > div:nth-of-type(1)::after{
	content: "";
    position: absolute;
    width: 2px;
    height: 450px;
    background-color: #d9d9d9;
    right: -22px;
    top: 43px;
}

.platform-item h3 {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	z-index: 11;
}


.platform-tag{
	position: absolute;
	top: 50%;
	left: 45%;
	width: 150px;
	height: 150px;
	margin: -60px 0 0 -60px;
	background: #333;
	opacity: .8;
	border-radius: 50%;
	z-index: 10;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .5s cubic-bezier(0.23, 0.53, 0.22, 0.93);
}

.platform-item a:hover .platform-tag{
	transform: scale(4.3, 4.3);
}


@media screen and (max-width:768px) {
    .platform-box > div:nth-of-type(1)::after{
        content: "";
        position: absolute;
        width: 300px;
        height: 2px;
        background-color:  #d9d9d9;
        right: -30px;
        top: 455px;
    }
}


.markdown-section h1 {
	font-family: Montserrat;
	font-weight: 1000;
	font-size: 48px;
	display: inline;
}

.markdown-section h2 {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 25px;
	padding: 0px;
}

.markdown-section p {
	font-family: Montserrat;
}


.product_sku_tag {
	margin-left: 5px;
	margin-top: 5px;
}

table thead, table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #aabfdc;
}

table {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aabfdc;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #aabfdc;
	overflow: auto;
    display: table !important;
}

table td, table th {
    padding: 5px 10px;
    font-size: 13px;
    font-family: Montserrat;
	color: #597da1 !important;
	border-color: hsl(212, 42%, 88%);
	min-width: 50px;
}

table tr:nth-child(even) {
    background: #d3dfed !important;
}
table tr:nth-child(odd) {
    background: #FFF !important;
}

@media screen and (max-width:768px) {
	table {
		display: block !important;
		overflow: scroll;
	}
}


.files_download {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 45px;
}

.files_download .item{
	display: flex;
	justify-content: center;
	width: 200px;
	box-shadow: 4px 4px 7px 0px #cecece;
	transition:all .25s ease;
}

.files_download .item:hover{
	transform:scale(1.2);
}
