:root {
    --theme-color: hsl(204, 90%, 45%);
}

.markdown-section {
    max-width: 80%;
    margin-top: 50px;
}

.markdown-section a {
    color: var(--theme-color, #42b983);
}

.markdown-section iframe[src*="buttons.github.io"] {
    margin: 0;
}



body[data-page="zh_CN/uiflow/uiflow_home_page.md"] article.markdown-section {
    max-width: 100%;
    padding: 0;
}

body[data-page="en/uiflow/uiflow_home_page.md"] article.markdown-section {
    max-width: 100%;
    padding: 0;
}

.pic{
    width:30%; 
}

.uiflow_banner{
    position: relative;
}

.uiflow_title{
    position: absolute;
    top: 10px;
    left: 10px;
}


.row a{
    color:white;
    text-decoration:none;
}

.row a:hover{
    color:white;
    text-decoration:none;
}


.uiflow_p{
    height: 100px;
}

/* body[data-page="index.md"] article.markdown-section .item {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s;
    text-decoration: none;
} */

.item {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s;
    text-decoration: none;
}

.video_size {
    width: 30%;
}


.related_links {

    position: fixed;
    top:20%;
    right: 100px;
    z-index: 9999;
}


.related_links a {
    display: block;
    background-color: #041e36;
    width: 80px;
    height: 80px;
    text-decoration:none;
}

.related_links a:hover {
    background-color: #007bff;
}

.related_links img {

    position: relative;
    top:12px;
    left: 22px;
    width: 36px;
}

.related_links div {

    position: relative;
    top:15px;
    width: 80px;
    color: white;
    text-align: center;
    
}



@media screen and (max-width: 768px) {
    .related_links {
        display: none;
    }
}


/* body[data-page="index.md"] article.markdown-section p.item-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
} */

.item-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    text-decoration: none;
}


.dropdown{
    display: inline-block;
}

.dropdown div{
    display: none;
}

.dropdown:hover div{
    display: block;
    float: left;
    position: absolute;
    top: 35px;
    left: -10px;
    will-change: transform;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


figure.thumbnails img {
    margin: 0.75em 0;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 30em) {
    figure.thumbnails:after {
        content: "";
        display: table;
        clear: both;
    }
    figure.thumbnails img {
        float: left;
        width: calc(50% - 0.75em);
    }
    figure.thumbnails img:nth-child(even) {
        margin-left: 1.5em;
    }
    @supports (display: flex) {
        figure.thumbnails {
            display: flex;
            align-items: center;
        }
        figure.thumbnails img {
            flex-grow: 1;
            width: 0;
        }
        figure.thumbnails img+img {
            margin: 0 0 0 1.5em;
        }
    }
}


.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 206px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    opacity: 0;
}
.mask h3 {
    text-align: center;
}

.item a:hover .mask {
    opacity: 1;   
      
}

.mask-btn1 {
    position:relative;
    top:60px;
    left:30px;
}

.mask-btn2 {
    position:relative;
    top:87px;
    left:30px;
}


.product_list div.btn-group-vertical {
    display: none;
}

.product_list:hover div.btn-group-vertical {
    position: fixed;
    display: block;
    margin: 0px;
    z-index: 9999;
}

.item:hover {
    /* box-shadow: 5px 5px 5px #888888; */
    box-shadow: 0px 0px 10px #888888;
}

main>.content {
    margin: 0px;
}

/* .banner {
    width: 300px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    box-shadow: 5px 5px 5px #888888;
    cursor: pointer;
    transition: all 0.1s;
} */

div.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

div.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: blue !important;
}

/* .banner div.card-img-overlay h4 {
    font-size: 3em;
    color: #fff;
}

.banner div.card-img-overlay:hover h4 {
    display: none;
}

.banner:hover {
    transform: scale(1.1);
    z-index: 1;
} */


.banner {
    width: 100%;
    height: 300px;
    background-color: #fffbff;
}



.d-flex {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.btn-toggle {
    display: none;
}

.pc-navigation {
    position:fixed;
    top:20%;
    left:4%;
}

.pc-navigation button {
    font-weight: bold;
    height: 53px;
}


.mb-navigation {
    display: none;
}

.product_page {
    margin-left:110px;
    margin-top:100px;
}

.search{
    display: none;
	position: fixed;
    z-index: 1001;
    top: 20px;
    left: 18%;
	height: 56px;
	line-height: 0px;
	padding: 0 20px;
}	
.search input{
	border-radius: 40px;
	border: 0;
	outline: none;
	background: #eee;
	width: 240px;
    height: 38px;
    padding: 0 0 0 20px;
}
 
.search .search-btn {
    position: absolute;
    top: 10px;
    right: 40px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}
.search i {
    position: absolute;
    top: 6px;
    right: 7px;
    font-size: 18px;
}

body[data-page="index.md"] .search {
    display: inline-block;

}

body[data-page="zh_CN/README.md"] .search {
    display: inline-block;
}


@media screen and (max-width: 768px) {
    .d-flex {
        display: none !important;
    }
    .d-flex.open {
        display: block !important;
        position: fixed;
        top: 50px;
        right: 0;
        width: 50%;
        background-color: white;
        z-index: 1000;
        left: inherit;
    }
    .d-flex.open>h5 {
        display: none;
    }
    .d-flex.open nav a {
        display: block;
    }
    .btn-toggle {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
        z-index: 1000;
        box-shadow: -9px 0px 10px 0px #888888;
    }
    .btn-toggle::before,
    .btn-toggle::after {
        content: "";
        position: absolute;
        transition: all .25s ease;
        width: 30px;
        height: 2px;
        background-color: gray;
        
    }
    .btn-toggle::before {
        top: 10px;
        left: 10px;
        box-shadow: 0 12px 0 gray;
    }
    .btn-toggle::after {
        top: 34px;
        left: 10px;
    }
    .btn-toggle.open::before {
        top: 25px;
        left: 10px;
        transform: rotate(45deg);
        box-shadow: none;
    }
    .btn-toggle.open::after {
        top: 25px;
        left: 10px;
        transform: rotate(-45deg);
    }
    .markdown-section {
        max-width: 100%;
        margin-top: 0px;
    }
    .markdown-section {
        max-width: 100%;
        margin-top: 50px;
    }
    .banner div.card-img-overlay h4 {
        font-size: 1.3em;
        color: #fff;
        text-align: center;
    }
    .banner {
        margin-left: 8px;
        margin-right: 0px;
        width: 130px;
    }
    .back_top {
        position: fixed;
        right: 10px;
        bottom: 150px;
    }
    .item {
        width: 130px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: box-shadow 0.3s;
        text-decoration: none;
    }
    .uiflow_p{
        height: auto;
    }
    .pc-navigation {
        display: none;
    }
    .product_page {
        margin-left:0px;
        margin-top:0px;
    }
    .mb-navigation {
        z-index: 9999;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 50px;
        height: 50px;
        color: #343a40;
        border-radius: 0;
        background: white;
        line-height: inherit;
        display: block;
        box-shadow: -12px -1px 10px #888888;
    }
    .nav-content {
        position: fixed;
        top:50px;
        left:0px;
        right:0px;
        z-index:999;
        /* color: white; */
    }
    .search {
        position: fixed;
        bottom: 0px;
        left: 20px;
        z-index: 1001;
        top: 92%;
    }
    .mask {
        display: none;
        width: 130px;
        height: 186px;
    }
    .mask-btn1 {
        position:relative;
        top:50px;
        left:23px;
    }
    
    .mask-btn2 {
        position:relative;
        top:75px;
        left:23px;
    }
    .video_size {
        width: 100%;
    }
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
}

.demo3 {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #007bff;
    position: absolute;
    animation: demo3 linear 0.8s infinite;
    -webkit-animation: demo3 linear 0.8s infinite;
}

.demo3:nth-child(1) {
    left: 24px;
    top: 2px;
    animation-delay: 0s;
}

.demo3:nth-child(2) {
    left: 40px;
    top: 8px;
    animation-delay: 0.1s;
}

.demo3:nth-child(3) {
    left: 47px;
    top: 24px;
    animation-delay: 0.1s;
}

.demo3:nth-child(4) {
    left: 40px;
    top: 40px;
    animation-delay: 0.2s;
}

.demo3:nth-child(5) {
    left: 24px;
    top: 47px;
    animation-delay: 0.4s;
}

.demo3:nth-child(6) {
    left: 8px;
    top: 40px;
    animation-delay: 0.5s;
}

.demo3:nth-child(7) {
    left: 2px;
    top: 24px;
    animation-delay: 0.6s;
}

.demo3:nth-child(8) {
    left: 8px;
    top: 8px;
    animation-delay: 0.7s;
}

@keyframes demo3 {
    0%,
    40%,
    100% {
        transform: scale(1);
    }
    20% {
        transform: scale(3);
    }
}

@-webkit-keyframes demo3 {
    0%,
    40%,
    100% {
        transform: scale(1);
    }
    20% {
        transform: scale(3);
    }
}

.loading-flex {
    position: absolute;
    top: 45%;
    left: 50%;
}

@media screen and (max-width: 768px) {
    .loading-flex {
        position: absolute;
        top: 45%;
        left: 45%;
    }
    .pic{
        width:50%; 
    }
}


.table_center tr{
    text-align:center;
}


/* Table Styles */

.table-wrapper{
    /* margin: 10px 70px 70px; */
    box-shadow: -7px 0px 20px 0px #888888;

}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center !important;
    padding: 18px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .fl-table {
        display: block !important;
        width: 100%;
        overflow-x: auto;
    }
    /* .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    } */
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
        display: block !important;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell !important;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

mark {
    background-color: #007bff; 
    color:white;
}